*{
    margin: 0;
    padding: 0; 
}

@font-face {
    font-family: 'Marvel';
    src: url(/fonts/Marvel.ttf);
}

:root {
    --cor0: #F21B2D;
    --cor1: #F25764;
    --cor2: #F27983;
    --cor3: #F2D0D3;
}

body , html {
    background-image: linear-gradient(to right ,#F25764 ,#F27983 ) ;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    margin-left: 42px;
    border-radius: 5px;
}

header{
    
    text-align: center;
    font-family: 'Marvel';
    font-size: 50px;
    font-weight: bolder;
    text-transform: uppercase;
    
    background-image: 
}

header h1 {
    color: #F21B2D;
    letter-spacing: 0.1cm;
}

header h2 {
    color: #F21B2D;
    letter-spacing: 0.1cm;
}

.menu {

    margin: 5px;
    
    
}

.menu a {
    text-decoration: none;
    color: black;
    
}

.menu ul li {
    display: inline;
    margin-left: 50px;
    
}

a:hover {
    color: #F21B2D;
    
}

.container {
    text-align: justify;
    
}

.sub-titulo {
    font-family: 'Marvel';
    text-transform: uppercase;
    font-size: 35px;
    text-align: center;
    color: #F25764;
}

.botoes {
    font-size: 50px;
    margin-left: 100px;
    
}

.spoiler {
    border: 2px solid rgba(0, 0, 0, 0.5);
    text-align: center;
    background-color: #F27983;
    padding: 10px;
    margin: 20px;
    font-size: 50px;
    font-family: 'Marvel';
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.52);
}

.spoiler:hover {
    background-color: #F25764;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.3);
    transform: scale(1.1);
}

p {
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    line-height: 1.5;
}

main {
    background-color: white;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.449);
    width: 700px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px 5px;
}

main div ul li {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    font-style: italic;
    line-height: 1.2;
}

footer {
    text-align: center;
    margin: 10px;
    font-size: 30px;
    font-family: 'Marvel';
    text-transform: uppercase;
}

footer p {
    font-size: 50px;
}
